.TeamPage {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 1em;

  .team-name-section {
    grid-column: span 4;
    justify-self: start;
    align-self: end;
  }

  .team-name {
    font-size: 4rem;
    margin-bottom: 20px;
  }

  .win-loss-section {
    justify-self: center;
    padding: 40px;
    text-align: center;
  }

  .match-detail-section {
    grid-column: span 5;
  }

  .more-link {
    align-self: center;
    justify-self: center;
  }
}